In [62]:
import pandas as pd

In [63]:
import torch

In [64]:
df_train = pd.read_csv('train (1).csv')

In [65]:
df_train

,id,keyword,location,text,target
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1
...,...,...,...,...,...
7608,10869,NaN,NaN,Two giant cranes holding a bridge collapse int...,1
7609,10870,NaN,NaN,@aria_ahrary @TheTawniest The out of control w...,1
7610,10871,NaN,NaN,M1.94 [01:04 UTC]?5km S of Volcano Hawaii. htt...,1
7611,10872,NaN,NaN,Police investigating after an e-bike collided ...,1
7612,10873,NaN,NaN,The Latest: More Homes Razed by Northern Calif...,1

In [66]:
df_train['keyword'].isnull().sum()

61

In [67]:
df_train['location'].isnull().sum()

2534

In [68]:
df_train['keyword'] = df_train['keyword'].fillna('')

In [69]:
df_train['keyword'].isnull().sum()

0

In [70]:
df_train['location'] = df_train['location'].fillna('')

In [71]:
df_train['location'].isnull().sum()

0

In [72]:
df_train['Combined'] = df_train['location'] + df_train['keyword'] + df_train['text']

In [73]:
df_train

,id,keyword,location,text,target,Combined
0,1,,,Our Deeds are the Reason of this #earthquake M...,1,Our Deeds are the Reason of this #earthquake M...
1,4,,,Forest fire near La Ronge Sask. Canada,1,Forest fire near La Ronge Sask. Canada
2,5,,,All residents asked to 'shelter in place' are ...,1,All residents asked to 'shelter in place' are ...
3,6,,,"13,000 people receive #wildfires evacuation or...",1,"13,000 people receive #wildfires evacuation or..."
4,7,,,Just got sent this photo from Ruby #Alaska as ...,1,Just got sent this photo from Ruby #Alaska as ...
...,...,...,...,...,...,...
7608,10869,,,Two giant cranes holding a bridge collapse int...,1,Two giant cranes holding a bridge collapse int...
7609,10870,,,@aria_ahrary @TheTawniest The out of control w...,1,@aria_ahrary @TheTawniest The out of control w...
7610,10871,,,M1.94 [01:04 UTC]?5km S of Volcano Hawaii. htt...,1,M1.94 [01:04 UTC]?5km S of Volcano Hawaii. htt...
7611,10872,,,Police investigating after an e-bike collided ...,1,Police investigating after an e-bike collided ...
7612,10873,,,The Latest: More Homes Razed by Northern Calif...,1,The Latest: More Homes Razed by Northern Calif...

In [74]:
def tolowerText(x):
    x = x.lower()
    return x

In [75]:
df_train['Combined'] = df_train['Combined'].apply(tolowerText)

In [76]:
df_train['Combined']

0       our deeds are the reason of this #earthquake m...
1                  forest fire near la ronge sask. canada
2       all residents asked to 'shelter in place' are ...
3       13,000 people receive #wildfires evacuation or...
4       just got sent this photo from ruby #alaska as ...
                              ...
7608    two giant cranes holding a bridge collapse int...
7609    @aria_ahrary @thetawniest the out of control w...
7610    m1.94 [01:04 utc]?5km s of volcano hawaii. htt...
7611    police investigating after an e-bike collided ...
7612    the latest: more homes razed by northern calif...
Name: Combined, Length: 7613, dtype: object

In [77]:
import re

In [78]:
def clean(x):
    x = re.sub('[^A-Za-z]', ' ', x)
    return x

In [79]:
l = df_train['Combined'].apply(clean)
print(l)

0       our deeds are the reason of this  earthquake m...
1                  forest fire near la ronge sask  canada
2       all residents asked to  shelter in place  are ...
3              people receive  wildfires evacuation or...
4       just got sent this photo from ruby  alaska as ...
                              ...
7608    two giant cranes holding a bridge collapse int...
7609     aria ahrary  thetawniest the out of control w...
7610    m            utc   km s of volcano hawaii  htt...
7611    police investigating after an e bike collided ...
7612    the latest  more homes razed by northern calif...
Name: Combined, Length: 7613, dtype: object

In [80]:
 df_train['Combined'] =  df_train['Combined'].apply(clean)

In [81]:
 df_train['Combined']

0       our deeds are the reason of this  earthquake m...
1                  forest fire near la ronge sask  canada
2       all residents asked to  shelter in place  are ...
3              people receive  wildfires evacuation or...
4       just got sent this photo from ruby  alaska as ...
                              ...
7608    two giant cranes holding a bridge collapse int...
7609     aria ahrary  thetawniest the out of control w...
7610    m            utc   km s of volcano hawaii  htt...
7611    police investigating after an e bike collided ...
7612    the latest  more homes razed by northern calif...
Name: Combined, Length: 7613, dtype: object

In [82]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [83]:
tfv = TfidfVectorizer()

In [87]:
x = df_train['Combined']
y = df_train['target']

In [88]:
x = tfv.fit_transform(x)

In [89]:
x = pd.DataFrame.sparse.from_spmatrix(x)
x

,0,1,2,3,4,5,6,7,8,9,...,28937,28938,28939,28940,28941,28942,28943,28944,28945,28946
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7608,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7609,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7610,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7611,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7612,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [90]:
from sklearn.model_selection import train_test_split

In [91]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=.2, stratify=y, random_state=42)

In [92]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
#from xgboost import XGBClassifier

In [93]:
knn = KNeighborsClassifier()
dt = DecisionTreeClassifier()
rf = RandomForestClassifier()

In [94]:
knn.fit(x_train, y_train)
dt.fit(x_train, y_train)
rf.fit(x_train, y_train)

RandomForestClassifier()

In [95]:
from sklearn.metrics import accuracy_score, roc_auc_score

In [97]:
print(f'Training score df {accuracy_score(y_train, dt.predict(x_train))}')
print(f'Test score df {accuracy_score(y_test, dt.predict(x_test))}')

Training score df 0.9985221674876847
Test score df 0.7051871306631649

In [98]:
print(f'Training score rf {accuracy_score(y_train, rf.predict(x_train))}')
print(f'Test score rf {accuracy_score(y_test, rf.predict(x_test))}')

Training score rf 0.9985221674876847
Test score rf 0.7866053841103086

In [107]:
from sklearn.ensemble import GradientBoostingClassifier

In [108]:
gbc = GradientBoostingClassifier()

In [109]:
gbc.fit(x_train, y_train)
print(f'Training score df {accuracy_score(y_train, gbc.predict(x_train))}')
print(f'Test score df {accuracy_score(y_test, gbc.predict(x_test))}')

Training score df 0.7881773399014779
Test score df 0.7524622455679579